<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/dashboard-admin" >
      <ion-button expand="block">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

      
    </ion-buttons>
    <ion-title>pending</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="cent">
    <table class="bordered">
      <thead class="color">
        <tr>
          <th>Image 1</th>
          <th>Image 2</th>
          <th>ID</th>
          <th>STATUS</th>
          <th>CAMPUS</th>
          <th>department</th>
          <th>DATE</th>
          <th>CHANGE STATUS</th>
        </tr>
      </thead>
      <tbody class="body">
        <tr *ngFor="let data of pendingData">
          <td class="image-cell"><img src="{{ data.imageUrl }}" alt="Damage Image 1"></td> 
          <td class="image-cell"><img src="{{ data.imageUrl2 }}" alt="Damage Image 2"></td>
          <td>{{ data.id }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.campus }}</td>
          <td>{{ data.department }}</td>
          <td>{{ data.date }}</td>
          <td><ion-button (click)="makeItComplete(data.id)">completed</ion-button></td>

        </tr>
      </tbody>
    </table>
  </div>



</ion-content>
