<ion-header>
  <ion-toolbar color="secondary">
 
    <ion-title>dashboardAdmin</ion-title>
  </ion-toolbar>
   <ion-button color="secondary" (click)="logOut()">SIGN OUT</ion-button>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <div class="center">
        <img src="assets\icon.png" alt="" srcset="" />
      </div>
    </ion-col>

    <ion-col size="6">
      <ion-card color="light" routerLink="/pending" >
        <ion-icon name="list"></ion-icon>
        <ion-text>
          <h2>Pending Incidents</h2>
        </ion-text>
      </ion-card>
    </ion-col>


    <ion-col size="6">
      <ion-card color="primary" routerLink="/reported">
          <ion-icon name="mail-unread-outline"></ion-icon>
        <ion-text>
          <h2>Reported Incidents</h2>
        </ion-text>
      </ion-card>
    </ion-col>
        <ion-col size="12" >
          <div class="centerCol">
            <ion-card color="success" routerLink="/completed">
                <ion-icon name="checkmark-done-outline"></ion-icon>
              <ion-text>
                <h2>Completed Incidents</h2>
              </ion-text>
            </ion-card>
          </div>
          </ion-col>


        
  </ion-row>
</ion-grid>
</ion-content>