

<ion-content>

  <ion-header>
 <ion-toolbar color="secondary">
      <ion-buttons slot="start" routerLink="/dashboard-admin" >
        <ion-button expand="block">
          <ion-icon name="arrow-back" ></ion-icon>
        </ion-button>
  
        
      </ion-buttons>
      <ion-title>completed</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div id="deskopVersion">
      <div class="cent">
        <table class="bordered">
          <thead class="color">
            <tr>
              <th>Image 1</th>
              <th>Image 2</th>
              <th>STATUS</th>
              <th>CAMPUS</th>
              <th>DEPARTMENT</th>
              <th>DATE</th>
            </tr>
          </thead>
          <tbody class="body">
            <tr *ngFor="let data of completedData">
              <td class="image-cell"><img src="{{ data.imageUrl }}" alt="Damage Image 1"></td>
              <td class="image-cell"><img src="{{ data.imageUrl2 }}" alt="Damage Image 2"></td>
              <td>{{ data.status }}</td>
              <td>{{ data.campus }}</td>
              <td>{{ data.department }}</td>
              <td>{{ data.date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    



<ion-grid>
        <ion-col *ngFor="let data of completedData">
          <ion-card>
         <div class="img-diplay-mobile">
           <img  src="{{ data.imageUrl }}" alt="Damage Image 1" class="img-size-mobile" />
           <img src="{{ data.imageUrl2 }}" alt="Damage Image 2" class="img-size-mobile"/>
          </div>
          <div class="label-and-value">
            <ion-label>Status:</ion-label>
            <p class="satus">{{ data.status }}</p>
          </div>
          <div class="label-and-value">
            <ion-label>Campus:</ion-label>
            <p>{{ data.campus }}</p>
          </div>
          <div class="label-and-value">
            <ion-label>Department:</ion-label>
            <p>{{ data.department }}</p>
          </div>
          <div class="label-and-value">
            <ion-label>Date:</ion-label>
            <p>{{ data.date }}</p>
          </div>
         
          </ion-card>
        </ion-col>
      </ion-grid>
  
  </ion-content>
  


