#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.centerImg{
  display:flex;
  justify-content: center;
  justify-items: center;align-items: center;
  text-align: center;
  width: 100%;
  height: 250px;
  margin-top:20px;
  
}
img{
  width: 300px;
}
ion-content{

  --ion-background-color:white;
}
ion-label{
  color:red;
  font-size: large;
}
ion-toolbar{
  --background:  var(--ion-color-secondary);
}
ion-card{
  --background:  white;
}
ion-button{
  margin-top: 10px;
}
ion-icon{
  height: 90px
}
.block{

width: 100%;
  margin-bottom: 70px;

}
ion-fab{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;

}
ion-list{
  --ion-item-background:white;
  margin-bottom: 5px;
}
ion-item-color{
  --ion-item-background: rgb(235, 232, 232);
  color: black;
  margin-bottom: 0px;
}
ion-item{
  margin-bottom: 5px;
  --ion-item-background:white;
  color: black;
}
ion-badge{
  height: 20px;
}
ion-label{
margin-left: 3px;
}
fieldset{
  border-color:lightgray;
}
legend{
  color:black

}







