<ion-header class="title">
  <ion-toolbar>
    <ion-title >REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="center">
      <img src="assets\icon.png" alt="" srcset="" />
    </div>

     
     

  <ion-item fill="solid"> 
      <ion-icon name="mail"></ion-icon> 
      <p>&nbsp;&nbsp;</p>
    <ion-input [(ngModel)]="email"  type="email" placeholder="EMAIL"></ion-input>
  </ion-item>
<br>
  <ion-item fill="solid" >
      <ion-icon name="lock-closed"></ion-icon>
      <p>&nbsp;&nbsp;</p>
    <ion-input [(ngModel)]="password"  type="password" placeholder="PASSWORD"></ion-input>
  </ion-item>
<br>

  <ion-button (click)="Reg()" expand="block" color="secondary">SIGN UP</ion-button>

  <div
      class="space"
      style="
        width: 100%;
        height: 20px;
        border-bottom: 1px solid black;
        text-align: center;
      "
    >
      <span style="font-size: 30px; background-color: white; padding: 0 10px; color:black">  OR
        
      </span>
    </div>
<br>

  <ion-button expand="block" color="secondary" routerLink="/login">SIGN IN</ion-button>

  </div>
</ion-content>
